<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanVeMayBay.Properties.Settings.QuanlybanveConnectionString"
            connectionString="Data Source=MICROSOFT\SQLEXPRESS;Initial Catalog=Quanlybanve;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>